*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,li{
    list-style-type: none;
}
.container{
    width: 960px;
    margin : 0 auto;
}
.clr{
    clear: both;
}
/* nav part css goes here */
nav{
    width: 100%;
    position : fixed;
    top : 0;
    left : 0;
    z-index: 999;
    background: transparent;
}
.nav-menu{
    display: flex;
}
.logo{
    width: 180px;
    
}
.logo img{
    padding-top: 15px;
}

.nav-link ul li{
    display: inline-block;
    padding-left: 25px;
}

.nav-link{
    width: 760px;
    text-align: right;
}
.nav-link ul li a{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 900; 
    text-transform: uppercase;
    line-height: 80px;
    transition: all linear 0.3s;
    color : #fff; 
    
}

.nav-link ul li:hover{
    color : #00e0d0;
}
/* banner part css goes here */
/* #banner{
    background: url(../images/banner.png);
    background-repeat: no-repeat;
    background-position: cover;
    background-size: contain;
    width: 100%;

} */
#banner{
    position: relative;
    background: url(../images/banner.png) no-repeat center;
    width: 100%;
    height: 100vh;
    background-size: cover;
}
.banner-overlay{
    background-image: linear-gradient(to right, rgba(9, 5, 47,0.8) , rgba(49, 29, 94,0.8));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.banner-text{
    text-align: center;
    align-self: center;
}
.banner-text h1{
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    color : #fff;
    padding-bottom: 20px;
    position: relative;
    font-weight: 700;
    padding-top: 170px;
}
.banner-text h1::after{
    position: absolute;
    content: '';
    background: #00e0d0;
    height: 1px;
    width: 50px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
   
}
.banner-text p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color : #fff;
    text-align: center;
    line-height: 24px;
    padding: 0px 120px ;
    padding-top: 28px;
    padding-bottom: 60px;
}
.banner-text a{
    text-align: center;
    font-family: 'Hammersmith One', sans-serif;
    color : #00e0d0;
    font-weight: 400;
    text-transform: uppercase;
    border: 1px solid #00e0d0;
    padding: 14px;
    

}
.banner-text img{
    width: 55px;
    padding-top: 100px;
    padding-bottom: 100px;

}

.dot{
    padding-top: 125px;
    padding-left: 450px;
}
#banner .banner-text ul {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
}

.dot ul li{
    display: inline-block;
    width: 10px;
    height: 10px;
    background: transparent;
    border-radius: 50%;
    border: 1px solid #fff;
    margin: 0 1px;
}  
ul li.active{
    background: #00e0d0;
}
/* story part css goes here */
.story-main{
    display: flex;
    padding-top: 72px;
    padding-bottom: 72px;
}
.story-img{
    padding-right: 100px;
}
.story-head h1{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 24px;
    color : #413d4b;
    padding-bottom: 25px;
    text-transform: uppercase;
}
.story-paragraph p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color : #716e78;
    line-height: 24px;
}
.gapx{
    margin-top: 34px;
}
.story a{
    text-align: center;
    font-family: 'Hammersmith One', sans-serif;
    color : #00e0d0;
    font-weight: 400;
    text-transform: uppercase;
    border: 1px solid #00e0d0;
    padding: 14px;
    font-size: 16px;
    margin-top: 48px;
    
}
/* story watch css goes here */
#watch{
    background: url(../images/3rd-section.png) no-repeat center;
    background-size: cover;
}

.watch-overlay{
    background-image: linear-gradient(to right, rgba(9, 5, 47,0.8) , rgba(49, 29, 94,0.8));
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding : 202px 0px;
}
.play{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.play img{
    align-self: center;
}
.play h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color : #fff;
    padding-top: 20px;
    text-align: center;
    align-self: center;
}


/* expertise section css goes here */
#expertise{
    padding-bottom: 78px;
}
.expertise-heading{
    text-align: center;
    padding-top: 70px;
}
.expertise-heading h1{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 22px;
    color : #413d4b;
    padding-bottom: 15px;
}
.expertise-heading p{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 14px;
    color : #8d8c90;
    position: relative;
    padding-bottom: 20px;
}
.expertise-heading p::after{
    position: absolute;
    content: '';
    height: 2px;
    width: 50px;
    background: #c6c4c9;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
}
.expertise-main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.expertise-item{
    width: 310px;
}

.expertise-img img{
    padding-left: 136px;
    padding-right: 126px;
    padding-bottom: 15px;
    padding-top: 60px;
}
.expertise-text h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color : #413d4b;
    text-align: center;
    padding-bottom: 20px;
}
.expertise-text p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color : #a3a3a3;
    line-height: 22px;
    text-align: center;
    padding : 0px 30px;
}
.ex{
    padding-top: 10px!important;
}
/* team part css goes here */
#team{
    background: url(../images/join-banner.png) no-repeat center;
    background-size: cover;
}
.team-overlay{
    background-image: linear-gradient(to right, rgba(9, 5, 47,0.8) , rgba(49, 29, 94,0.8));
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 70px 0;
}
.team-head{
    text-align: center;
   
}
.team-head h3{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color : #fff;
    font-size: 22px;
    text-transform: uppercase;
    padding-bottom: 20px;
    letter-spacing: 1px;
}
.team-head p{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color : #f9f9f9;
    font-size: 14px;
    padding-bottom: 70px;
    letter-spacing: 1px;
    position: relative;
}
.team-head p::after{
    position: absolute;
    content: '';
    height: 2px;
    width: 50px;
    background: #655c7f;
    left: 50%;
    bottom: 50px;
    transform: translate(-50%);
}
.card-main{
    display: flex;
    justify-content: space-around;
}
.card-img img{
    width: 220px;
    height: 230px;
}
.card-item{
    width: 220px;
    border : 1px solid #77768b;
}
.card-text{
    text-align: center;
}
.card-text h3{
    font-family: 'Roboto', sans-serif;
    font-weight: black;
    color : #f3f3f5;
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 4px;
    padding-top: 10px;
}
.card-text p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color : #aeacba;
    font-size: 13px;
    text-transform: uppercase;
    padding-bottom: 18px;
}
.team-footer{
    text-align: center;
}
.team-footer h3{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color : #f3f3f3;
    padding-top: 40px;
    padding-bottom: 50px;
}
.team-footer a{
    text-align: center;
    font-family: 'Hammersmith One', sans-serif;
    color : #00e0d0;
    font-weight: 400;
    text-transform: uppercase;
    border: 1px solid #00e0d0;
    padding: 14px;
    font-size: 16px;
}
/* work part css goes here */
#work{
    padding-bottom: 70px;
}
.work-head{
    text-align: center;
    padding-top: 70px;
}
.work-head h3{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color : #413d4b;
    font-size: 22px;
    text-transform: uppercase;
    padding-bottom: 10px;
    letter-spacing: 1px;
}
.work-head p{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color : #78777b;
    font-size: 14px;
    padding-bottom: 80px;
    letter-spacing: 1px;
    position: relative;
}
.work-head p::after{
    position: absolute;
    content: '';
    height: 2px;
    width: 50px;
    background: #c6c4c9;
    left: 50%;
    bottom: 50px;
    transform: translate(-50%);
}
.work-main{
    display: flex;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 50px;
    justify-content: space-around;
}
.work-item h3{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color : #413d4b;
    padding: 7px 10px;
    border: 1px solid #ddd;
    text-transform: capitalize;
    
}
.work-img-main{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 85px;
}
.img-item{
    width: 16.666%;
    margin-top: -5px;
}
.load{
    text-align: center;
}
.load a{
    text-align: center;
    font-family: 'Hammersmith One', sans-serif;
    color : #00e0d0;
    font-weight: 400;
    text-transform: uppercase;
    border: 1px solid #00e0d0;
    padding: 16px;
    font-size: 16px;
}
/* comma section css goes here */
#comma{
    background: url(../images/comma-section-img.png) no-repeat center;
    background-size: cover;
}

.comma-overlay{
    background-image: linear-gradient(to right, rgba(9, 5, 47,0.8) , rgba(49, 29, 94,0.8));
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
    padding: 118px 0 76px 0;
    text-align: center;    
}
.comma-part{
    
}
.comma-part p{
    color : #e0dfe5;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin: 0 auto;
    width: 800px;
    padding-top: 42px;
}
.comma-text{
    text-align: center;
}
.comma-text h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 14px;
    text-transform: uppercase;
    color : #fff;
    padding-top: 36px;
}
.comma-text h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 13px;
    color : #bcb9c6;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 43px;
}
/* .circle{
    text-align: center;
} */
.circle ul li{
    height: 21px;
    width: 21px;
    border-radius: 50%;
    background: #fff;
    margin: 0 8px;
    display: inline-block;
}
.circle ul .extra{
    position: relative;
}
.circle ul .extra::after{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #00e0d0;
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* form part css goes here */
#form-part{
    padding-bottom: 50px;
}
.form-logo{
    display: flex;
    padding-top: 40px;
    justify-content: space-between;
}
.form{
    width: 45%;
    
}
.form h2{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 22px;
    color : #413d4b;
    padding-bottom: 19px;
}
.logos{
    width: 45%;
}
.form input{
    width: 460px;
    height: 35px;
    margin-bottom: 15px;
    padding-left: 17px;
}
.form form input::placeholder{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #b9b7bd;
}
.form textarea{
    width: 460px;
    height: 200px;
    padding-left: 17px ;
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #b9b7bd;
    margin-bottom: 37px;
}
.form button{
    text-align: center;
    font-family: 'Hammersmith One', sans-serif;
    color : #00e0d0;
    font-weight: 400;
    text-transform: uppercase;
    border: 1px solid #00e0d0;
    padding-top: 12px;
    padding-bottom: 7px;
    padding-left: 34px;
    padding-right: 34px;
    font-size: 16px;
    background: #fff;
}
.logos h2{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 22px;
    color : #413d4b;
    padding-bottom: 29px;
}
.logo-main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.logo-item{
    width: 40%;
    margin-bottom: 23px;
    
}
/* footer section css goes here */
footer{
    background: url(../images/footer-img.png) no-repeat center;
    background-size: cover;
}

.footer-overlay{
    background-image: linear-gradient(to right, rgba(9, 5, 47,0.8) , rgba(49, 29, 94,0.8));
    padding: 70px 0;
}
.footer-main{
    display: flex;
    justify-content: space-between;
}
.logo-about{
    width: 300px;
    
}
.logo-about img{
    padding-top: 45px;
    
}
.logo-about p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color : #fff;
    padding-top: 15px;
    padding-bottom: 30px;
    

}
.help-terms-privacy{
    display: flex;
    justify-content: space-between;
}
.help,.privacy{
    width: 20%;
}
.terms{
    width: 50%;
}
.help-terms-privacy p{
    color : #fff;
    padding-bottom: 35px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
}

.studio{
    width: 300px;
    
}
.studio h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color : #fff;
    padding-top: 55px;
    padding-bottom: 50px;
}
.address{
    margin-bottom: 25px;
}
.icon{
    float: left;
    width: 10%;
}
.icon i{
    color : #fff;
    margin-top: 5px;
}
.address-text{
    float: left;
    width: 90%;   
}
.icon-text p{
    margin-left: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color : #fff;
    line-height: 26px;
    
}
.touch{
    width: 300px;  
}
.touch h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color : #fff;
    padding-top: 55px;
    padding-bottom: 50px;
}
.touch form input{
    width: 212px;
    height: 45px;
    background: transparent;
    padding-left: 15px;
    border: 1px solid #9e98b0;
    margin-right: 10px;
    padding-top: 6px;
    
}

.form-subscribe button{
    padding : 13px 22px;
    background-color: #a09ab3;
    border : 0px;

}
.form-subscribe input::placeholder{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color : #cecbd7;
    font-size: 14px;
    line-height: 26px;
    
}
.form-subscribe button i{
    font-size: 18px;
}
.social{
    display: flex;
    padding-top: 28px;
}
.social i{
    font-size: 18px;
    border: 1px solid #f1f0f4;
    border-radius: 50%;
    padding: 10px;
    color : #fff;
    width: 37px;
    height: 37px;
    text-align: center;
    margin-right: 9px;
}
.copyright h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color : #d9d6e0;
    padding-top: 62px;
    padding-left: 76px;
    font-size: 14px;
}
